{% section 'collection-header' %}

<div id="CollectionAjaxResult" class="collection-content">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      {% section 'collection-promotions' %}
      <div class="collection-grid__wrapper">
        {% section 'collection-template' %}
      </div>
    </div>
  </div>
</div>
